[ReadSongs]

# path to songs folder, default: ../songs
songsdir = ../songs

# path to beatmap list .npy file, default: ../maplist
savename = ../maplist

[ParseAudio]

# path to ffmpeg
ffmpeg = C:/Program Files/ffmpeg/bin